/* ==========================================================================
   Variables
   ========================================================================== */
   $blackColor: #221F1F;
   $whiteColor: #FFF;
   $grayColor: #F2F2F2;
   $tanColor: #EBE2D9;
   $blueColor: #2BA6CB;
   $redColor: #D83323;
   $goldColor: #D89823;

/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Custom Styles
   ========================================================================== */

   .row {
    /* ADJUST WIDTH OF PAGE */
    /*max-width: 50em;*/
   }

   ::selection {
    background: $goldColor;
   }

   body {
    background-color: $whiteColor;
    font-family: 'Gentium Book Basic', serif;
    /*font-size: 1em;*/
   }

   img {
    max-width: 100%;
   }

   .server-text {
    color: $goldColor;
   }

   .web-text {
    color: $blueColor;
   }

   .mobile-text {
    color: $redColor;
   }

   .link {
    color: $blackColor;
    /*text-decoration: underline;*/
    border-bottom: dotted 1px;
   }

   .link:hover {
    color: $blackColor;
   }

   hr.separator {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
   }

   nav, .title-area .name h1 {
    font-family: 'Open Sans', sans-serif;
   }

   .top-bar-section {
    text-transform: uppercase;
   }

   header {
    background-color: $grayColor;
    /*background-color: #44C7F4;*/
    background-image: url('../../a/i/hero-tile-gplaypattern.png');
    background-repeat: repeat;
    background-position: center;
    text-align: center;
   }

   .header-wrapper {
    /* This image will be displayed fullscreen */
    /*background:url('../../a/i/hero-bg.png') no-repeat center center;*/

    /* Ensure the html element always takes up the full height of the browser window */
    /*min-height:100%;*/

    /* The Magic */
    /*background-size:cover;*/
   }

   header .logo {
    text-align: center;
    padding: 20px 0 0;
   }

   header .logo img {
    width : 85%;
   }

   .blurb {
    width: 90%;
    max-width: 700px;
    text-align: center;
    color : $whiteColor;
    /*color: $blackColor;
    text-shadow: 1px 1px $whiteColor;*/
    margin: 0 auto;
   }

   .eventdate {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $blackColor;
    color: $whiteColor;
    text-align: center;
    padding: 30px 0;
   }

   .hero-signup-form {
    text-align: center;
   }

   .hero-signup-form form {
    max-width: 500px;
    width: 100%;
    /*background: #666;*/
    display: inline-block;
    font-size: 0px;
    padding: 0;
    margin: 30px 0;
  }

  .hero-signup-form input {
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: #888;
    display: block;
    font-size: 17px;
    margin: 10px 0;
    padding: 0 25px;
  }

  .ie .hero-signup-form input {
    line-height: 40px;
  }

  .hero-signup-form input::-webkit-input-placeholder {
    color: #888;
  }

  .hero-signup-form input:-moz-placeholder {
    color: #888;
  }

  .hero-signup-form input:focus {
    outline: none;
  }

  .hero-signup-form input.email:focus {
    -webkit-animation: glow 800ms ease-out infinite alternate;
    -moz-animation: glow 800ms ease-out infinite alternate;
    -o-animation: glow 800ms ease-out infinite alternate;
    -ms-animation: glow 800ms ease-out infinite alternate;
    animation: glow 800ms ease-out infinite alternate;
    /*background: $whiteColor;
    border-color: #888;*/
    /*box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;*/
    /*color: #888;*/
    outline: none;
  }

  .hero-signup-form input:focus::-webkit-input-placeholder { 
    color: #888;
  }

  .hero-signup-form input:focus:-moz-placeholder {
    color: #888;
  }

  .hero-signup-form .button {
    width: 100%;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    /*background: #F00;*/
    border-radius: 5px;
    color: $whiteColor;
    display: block;
    font-size: 17px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
  }

  @-webkit-keyframes glow {
      0% {
      border-color: #888;
      /*box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;*/
      } 
      100% {
      border-color: $whiteColor;
      /*box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;*/
      }
  }

  @-moz-keyframes glow {
      0% {
      border-color: #888;
      /*box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;*/
      } 
      100% {
      border-color: $whiteColor;
      /*box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;*/
      }
  }

  @-o-keyframes glow {
      0% {
      border-color: #888;
      /*box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;*/
      } 
      100% {
      border-color: $whiteColor;
      /*box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;*/
      }
  }

  @-ms-keyframes glow {
      0% {
      border-color: #888;
      /*box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;*/
      } 
      100% {
      border-color: $whiteColor;
      /*box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;*/
      }
  }

  @keyframes glow {
      0% {
      border-color: #888;
      /*box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;*/
      } 
      100% {
      border-color: $whiteColor;
      /*box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;*/
      }
  }

   header .social {
    text-align: center;
   }

   header .social a img {
    width : 50px;
    transition: all .2s ease;
   }

   header .social a img:hover {
    -webkit-transform: scale(1.2);
   }

   #about, #schedule, #speakers, #location, #sponsors, #register, #tagline {
    text-align: center;
    padding: 50px 0;
   }

   #about {
    background-color: $whiteColor;
   }

   #schedule {
    background-color: $whiteColor;
   }

   #speakers {
    background-color: $whiteColor;
   }

   #map, #location {
    background-color: $whiteColor;
   }

   #register {
    background-color: $whiteColor;
   }

   #sponsors {
    background-color: $whiteColor;
   }

   #tagline {
    background-color: $grayColor;
   }

   .section-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    /*font-weight: normal;*/
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    text-shadow: 2.5px 2.5px 0 $whiteColor,
        5px 5px 0 rgba(0,0,0,.2);
   }

   .button {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
   }

   #schedule ul, #speakers ul {
    max-width: 800px;
    margin-left: 8%;
    margin-right: 8%;
   }

   #schedule ul li, #speakers ul li {
    /*font-size: 1.3em;*/
    text-align: left;
    /*margin: 0 8%;*/
    /*background-color: green;*/
    /*display: block;*/
   }

   .panel {
    text-align: center;
    background-color: $grayColor;
   }

   .sponsor-level {
    margin-top: 50px;
   }

   .sponsor-logo {
    background-color: $grayColor;
   }

   .sponsor-no-logo {
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: $grayColor;
    color: $blackColor;
    letter-spacing: 0.15em;
    padding: 2em 0;
    text-align: center;
    text-transform: uppercase;
   }

   #codeOfConduct p, #codeOfConduct ul li {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8em;
   }

   #codeOfConduct ul li {
    margin-left: 15px;
    margin-right: 15px;
   }

   footer {
    background-color: $blackColor;
   }

   footer .monogram {
    width: 65px;
    margin: 0 auto;
    padding: 20px 0;
   }

   footer p.copyright {
    text-transform: uppercase;
    color: $whiteColor;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
    margin : 0;
   }

   /*** START MASONRY ***/
   #speaker-list {
    float: none;
    /*background: red;*/
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
    /*margin-bottom: 30px;*/
    /* optional */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* content-box is NEEDED. if border-box is enabled
       then it when Masonry calculates the height and width
       of the container it counts incorrectly and the result
       images running to the edge of the container on the right
       and bottom sides. Only apply content-box to the container. */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  .speaker-box {
    margin: 5px;
    float: left;
    /* optional */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .speaker-box img, { display: block; width: 100%; }

  .speaker-name, .speaker-twitter {
    display: block;
    text-align: center;
   }

   .speaker-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.8em;
   }

   .speaker-twitter {
    margin-top: 0.25em;
    margin-bottom: 1.5em;
   }

   .speaker-image {
    width: 100%;
    border-style: solid;
    border-width: 0.65em;
    border-color: $whiteColor;
    border-radius: 50%;
    /*-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");*/
    transition: border-color 0.5s ease;
   }

   .speaker-image:hover {
    border-color: $goldColor;
   }
  
  /* unfortunately masonry needs hard pxs for images */
  .col1 { width: 80px; }
  .col2 { width: 180px; }
  .col3 { width: 280px; }
  .col4 { width: 380px; }
  .col5 { width: 480px; }
  .col1 img { max-width: 80px; }
  .col2 img { max-width: 180px; }
  .col3 img { max-width: 280px; }
  .col4 img { max-width: 380px; }
  .col5 img { max-width: 480px; }
  
  /* animations for the transition/reordering */
  .transitions-enabled.masonry,
  .transitions-enabled.masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
  }
  .transitions-enabled.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
  }
  .transitions-enabled.masonry  .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
  }

  /**** Clearfix ****/
  .clearfix:before, .clearfix:after { content: ""; display: table; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }

  /*** END MASONRY ***/

/* ==========================================================================
   Media Queries for Responsive Design
   ========================================================================== */
   @media only screen and (min-width: 600px) {

      header .logo img {
        width : auto;
      }

      p {
        font-size: 1.3em;
      }

      .hero-signup-form input {
        width: 70%;
        float: left;
        border-radius: 5px 0 0 5px;
        margin: 0;
      }

      .hero-signup-form .button {
        width: 30%;
        float: left;
        border-radius: 0 5px 5px 0;
      }

      .social {
        clear: left;
      }

      #about, #schedule, #speakers, #location, #sponsors, #register {
        text-align: left;
      }

      .speaker-box {
        margin: 8px;
      }

      #schedule ul, #speakers ul {
        margin-left: 4%;
        margin-right: 4%;
      }

      #schedule ul li, #speakers ul li {
        font-size: 1.3em;
      }
   }